docker/node-red/flows.json
[
    {
        "id": "f8178ed7c460ebb3",
        "type": "tab",
        "label": "Conexión Fiware",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "06061d1402de7531",
        "type": "debug",
        "z": "f8178ed7c460ebb3",
        "name": "Fiware Data Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 280,
        "wires": []
    },
    {
        "id": "f0292dde4eaf7591",
        "type": "http request",
        "z": "f8178ed7c460ebb3",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://auth.iotplatform.telefonica.com:15001/v3/auth/tokens",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1890,
        "y": 560,
        "wires": [
            [
                "27ba77dacf266b91",
                "97fe6fa93d02c98f"
            ]
        ]
    },
    {
        "id": "9e0d834fac3c8f75",
        "type": "function",
        "z": "f8178ed7c460ebb3",
        "name": "Set Token Payload",
        "func": "\n// Headers\nmsg.headers = {\n    'Content-Type': 'application/json'  // Configura el Content-Type\n};\n\n// Payload\nmsg.payload = {\n    \"auth\": {\n        \"identity\": {\n            \"methods\": [\n                \"password\"\n            ],\n                \"password\": {\n                \"user\": {\n                    \"domain\": {\n                        \"name\": \"smartprovincia\"\n                    },\n                    \"name\": \"userCompostera\",\n                    \"password\": \"badajozesmas\"\n                }\n            }\n        },\n        \"scope\": {\n            \"project\": {\n                \"domain\": {\n                    \"name\": \"smartprovincia\"\n                },\n                \"name\": \"/Compostera\"\n            }\n        }\n    }\n};\n\n// MSG\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 560,
        "wires": [
            [
                "f0292dde4eaf7591"
            ]
        ]
    },
    {
        "id": "27ba77dacf266b91",
        "type": "function",
        "z": "f8178ed7c460ebb3",
        "name": "Get Token from Response",
        "func": "// Extraer el token del encabezado de la respuesta\nvar token = msg.headers['x-subject-token'];\n\n// Almacenar el token en el contexto de flujo\nflow.set('auth_token', token);\n\n// Pasar el mensaje con el token en el payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 680,
        "wires": [
            [
                "0da78d846fbfdd37"
            ]
        ]
    },
    {
        "id": "0da78d846fbfdd37",
        "type": "debug",
        "z": "f8178ed7c460ebb3",
        "name": "Fiware Auth Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2300,
        "y": 680,
        "wires": []
    },
    {
        "id": "eb7ff51d53d32719",
        "type": "http request",
        "z": "f8178ed7c460ebb3",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1210,
        "y": 400,
        "wires": [
            [
                "06061d1402de7531",
                "120e4564f6012989"
            ]
        ]
    },
    {
        "id": "8c94fe085c947ab1",
        "type": "function",
        "z": "f8178ed7c460ebb3",
        "name": "Set Entity Request Data",
        "func": "\n// Headers\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Fiware-Service': 'smartprovincia',\n    'Fiware-ServicePath': '/Compostera',\n    'X-Auth-Token': flow.get('auth_token'),\n\n};\n\n// Body/Payload\nmsg.payload = global.get('mqtt-payload');\n\n// URL\nconst composterId = global.get('composter-id')\nmsg.url = `https://cb.iotplatform.telefonica.com:10027/v2/entities/${composterId}/attrs`;\n\n// MSG\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 400,
        "wires": [
            [
                "eb7ff51d53d32719"
            ]
        ]
    },
    {
        "id": "9ad2faa6b89aaf50",
        "type": "link in",
        "z": "f8178ed7c460ebb3",
        "name": "Fiware - MQTT [in]",
        "links": [
            "98d4597723d894fe",
            "97fe6fa93d02c98f"
        ],
        "x": 695,
        "y": 400,
        "wires": [
            [
                "8c94fe085c947ab1"
            ]
        ]
    },
    {
        "id": "120e4564f6012989",
        "type": "switch",
        "z": "f8178ed7c460ebb3",
        "name": "Refrescar Token",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "401",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1420,
        "y": 500,
        "wires": [
            [
                "9e0d834fac3c8f75"
            ],
            [
                "9e0d834fac3c8f75"
            ]
        ]
    },
    {
        "id": "97fe6fa93d02c98f",
        "type": "link out",
        "z": "f8178ed7c460ebb3",
        "name": "Fiware - Fiware [Out]",
        "mode": "link",
        "links": [
            "9ad2faa6b89aaf50"
        ],
        "x": 2075,
        "y": 560,
        "wires": []
    }
]